<nav class="navbar navbar-light bg-primary">
    <div class="container">
        <h3 style="color: aliceblue;">Ambulance Details</h3>
        <div class="d-flex">
            <button (click)="clickAddAmbulance()" type="button" class="btn btn-success" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Add Ambulance</button>
        </div>
    </div>
</nav>
<div class="shadow p-4 mb-2">
    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText">
</div>

<div class="p-3">
    <select (change)="onTableSizeChange($event)">
        <option *ngFor="let size of tableSizes">
            {{size}}
        </option>
    </select>
</div>

<table class="table table-bordered table-striped table-responsive">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ambulance Id</th>
            <th scope="col">License No</th>
            <th scope="col">Purchase Value</th>
            <th scope="col">Category</th>
            <th scope="col">Chassis No</th>
            <th scope="col">Fuel Type</th>
            <th scope="col"> Driver Name</th>
            <th scope="col"> Driver License No</th>
            <th scope="col"> Driver Phone No</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of ambulanceData | search:searchText  |
        paginate:{
        itemsPerPage:tableSize,
        currentPage:page,
        totalItems:count
    } let i = index">
            <td>{{row.id}}</td>
            <td>{{row.ambulanceId}}</td>
            <td>{{row.licenseNo}}</td>
            <td>{{row.purchaseValue}}</td>
            <td>{{row.category}}</td>
            <td>{{row.chassisNo}}</td>
            <td>{{row.fuelType}}</td>
            <td>{{row.driverName}}</td>
            <td>{{row.driverLicenseNo}}</td>
            <td>{{row.driverPhoneNo}}</td>
            
            <td>
                <div class="btn-group mx-1" role="group">
                    <button type="button" (click)="onDetails(row)" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        class="btn btn-sm btn-info">Details</button>
                    <button type="button" (click)="onEdit(row)" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        class="btn btn-sm btn-warning">Edit</button>
                    <button (click)="deleteAmbulance(row)" class="btn btn-sm btn-danger"><i
                            class="fa fa-remove"></i>Delete</button>
                </div>
            </td>
        </tr>

    </tbody>
</table>
<div>
    <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="onTableDataChange($event)"
    >

    </pagination-controls>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ambulance Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form [formGroup]="formValue">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Ambulance Id</label>
                        <input formControlName="ambulanceId" type="text" class="form-control" id="firstName"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">License No</label>
                        <input formControlName="licenseNo" type="text" class="form-control" id="lastName">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Purchase Value</label>
                        <input formControlName="purchaseValue" type="text" class="form-control" id="email">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Category</label>
                        <input formControlName="category" type="text" class="form-control" id="mobile">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Chassis No</label>
                        <input formControlName="chassisNo" type="text" class="form-control" id="salary">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Fuel Type</label>
                        <input formControlName="fuelType" type="text" class="form-control" id="salary">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Driver Name</label>
                        <input formControlName="driverName" type="text" class="form-control" id="salary">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Driver License No</label>
                        <input formControlName="driverLicenseNo" type="text" class="form-control" id="salary">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Driver Phone</label>
                        <input formControlName="driverPhoneNo" type="text" class="form-control" id="salary">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button (click)="postAmbulanceDetails()" *ngIf="showAdd" type="button" class="btn btn-primary">Save
                    Ambulance</button>
                <button (click)="updateAmbulanceDetails()" *ngIf="showUpdate" type="button"
                    class="btn btn-primary">Update Ambulance</button>
            </div>
        </div>
    </div>
</div>

<!-- <input type="file" (change)="onChange($event)" /> -->

<!-- <div *ngIf="myimage">
  <img [src]="myimage" width="200px" height="200px" alt="" />
  <textarea rows="30" cols="60" [(ngModel)]="base64code"></textarea>
</div> -->