<nav class="navbar navbar-light bg-primary">
    <div class="container">
        <h3 style="color: aliceblue;">Prescription Details</h3>
        <div class="d-flex">
            <button (click)="clickAddPrescription()" type="button" class="btn btn-success" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Add Prescription</button>
        </div>
    </div>
</nav>
<div class="shadow p-4 mb-2">
    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText">
</div>

<div class="p-3">
    <select (change)="onTableSizeChange($event)">
        <option *ngFor="let size of tableSizes">
            {{size}}
        </option>
    </select>
</div>

<table class="table table-bordered table-striped table-responsive">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Patient Id</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Gender</th>
            <th scope="col">Address</th>
            <th scope="col">Mobile</th>
            <th scope="col">Medicine</th>
            <th scope="col">Test</th>
            <th scope="col">Fee</th>
            <th scope="col">Notes</th>
            <th scope="col"> Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of prescriptionData | search:searchText  |
        paginate:{
        itemsPerPage:tableSize,
        currentPage:page,
        totalItems:count
    } let i = index">
            <td>{{row.id}}</td>
            <td>{{row.patientId}}</td>
            <td>{{row.name}}</td>
            <td>{{row.age}}</td>
            <td>{{row.gender}}</td>
            <td>{{row.address}}</td>
            <td>{{row.mobile}}</td>
            <td>{{row.medicine}}</td>
            <td>{{row.test}}</td>
            <td>{{row.fee}}</td>
            <td>{{row.notes}}</td>
            
            <td>
                <div class="btn-group mx-1" role="group">
                    <button type="button" (click)="onDetails(row)" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        class="btn btn-sm btn-info">Details</button>
                    <button type="button" (click)="onEdit(row)" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        class="btn btn-sm btn-warning">Edit</button>
                    <button (click)="deletePrescription(row)" class="btn btn-sm btn-danger"><i
                            class="fa fa-remove"></i>Delete</button>
                </div>
            </td>
        </tr>

    </tbody>
</table>
<div>
    <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="onTableDataChange($event)"
    >

    </pagination-controls>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Prescription Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form [formGroup]="formValue">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Patient Id</label>
                        <input formControlName="patientId" type="text" class="form-control" id="firstName"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Name</label>
                        <input formControlName="name" type="text" class="form-control" id="lastName">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Age</label>
                        <input formControlName="age" type="text" class="form-control" id="email">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Gender</label>
                        <input formControlName="gender" type="text" class="form-control" id="mobile">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Address</label>
                        <input formControlName="address" type="text" class="form-control" id="salary">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Mobile</label>
                        <input formControlName="mobile" type="text" class="form-control" id="salary">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Medicine</label>
                        <input formControlName="medicine" type="text" class="form-control" id="salary">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Test</label>
                        <input formControlName="test" type="text" class="form-control" id="salary">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Fee</label>
                        <input formControlName="fee" type="text" class="form-control" id="salary">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Notes</label>
                        <input formControlName="notes" type="text" class="form-control" id="salary">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button (click)="postPrescriptionDetails()" *ngIf="showAdd" type="button" class="btn btn-primary">Save
                    Prescription</button>
                <button (click)="updatePrescriptionDetails()" *ngIf="showUpdate" type="button"
                    class="btn btn-primary">Update Prescription</button>
            </div>
        </div>
    </div>
</div>

<!-- <input type="file" (change)="onChange($event)" /> -->

<!-- <div *ngIf="myimage">
  <img [src]="myimage" width="200px" height="200px" alt="" />
  <textarea rows="30" cols="60" [(ngModel)]="base64code"></textarea>
</div> -->