<nav class="navbar navbar-light bg-primary">
    <div class="container">
        <h3 style="color: aliceblue;">Doctor Details</h3>
        <div class="d-flex">
            <button (click)="clickAddDoctor()" type="button" class="btn btn-success" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Add Doctor</button>
        </div>
    </div>
  </nav>
  <div class="shadow p-4 mb-2">
    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText">
  </div>
  
  <div class="p-3">
    <select (change)="onTableSizeChange($event)">
        <option *ngFor="let size of tableSizes">
            {{size}}
        </option>
    </select>
  </div>
  
  <table class="table table-bordered table-striped table-responsive">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Doctor Id</th>
            <th scope="col"> Name</th>
            <th scope="col">Department</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
            <th scope="col">Age</th>
            <th scope="col">Address</th>
            <th scope="col">Specialized In</th>
            <th scope="col">Qualification</th>
            <th scope="col">Joining Date</th>
            <th scope="col">Leaving Date</th>
            <th scope="col">Visit</th>

            <th scope="col"> Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of doctorData | search:searchText  |
        paginate:{
        itemsPerPage:tableSize,
        currentPage:page,
        totalItems:count
    } let i = index">
            <td>{{row.id}}</td>
            <td>{{row.doctorId}}</td>
            <td>{{row.name}}</td>
            <td>{{row.department}}</td>
            <td>{{row.email}}</td>
            <td>{{row.mobile}}</td>
            <td>{{row.age}}</td>
            <td>{{row.address}}</td>
            <td>{{row.specializedIn}}</td>
            <td>{{row.qualification}}</td>
            <td>{{row.joiningDate}}</td>
            <td>{{row.leavingDate}}</td>
            <td>{{row.visit}}</td>
            <td>
                <div class="btn-group mx-1" role="group">
                    <button type="button" (click)="onDetails(row)" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        class="btn btn-sm btn-info">Details</button>
                    <button type="button" (click)="onEdit(row)" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        class="btn btn-sm btn-warning">Edit</button>
                    <button (click)="deleteDoctor(row)" class="btn btn-sm btn-danger"><i
                            class="fa fa-remove"></i>Delete</button>
                </div>
            </td>
        </tr>
  
    </tbody>
  </table>
  <div>
    <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="onTableDataChange($event)"
    >
  
    </pagination-controls>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Doctor Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
  
                <form [formGroup]="formValue">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Doctor Id</label>
                        <input formControlName="doctorId" type="text" class="form-control" id="firstName"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label"> Name</label>
                        <input formControlName="name" type="text" class="form-control" id="lastName">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Department</label>
                        <input formControlName="department" type="text" class="form-control" id="email">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Email</label>
                        <input formControlName="email" type="email" class="form-control" id="salary">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Mobile Number</label>
                        <input formControlName="mobile" type="text" class="form-control" id="mobile">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Age</label>
                        <input formControlName="age" type="text" class="form-control" id="mobile">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Address</label>
                        <input formControlName="address" type="text" class="form-control" id="mobile">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Specialized In</label>
                        <input formControlName="specializedIn" type="text" class="form-control" id="mobile">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Qualification</label>
                        <input formControlName="qualification" type="text" class="form-control" id="mobile">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Joining Date</label>
                        <input formControlName="joiningDate" type="text" class="form-control" id="mobile">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Leaving Date</label>
                        <input formControlName="leavingDate" type="text" class="form-control" id="mobile">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Visit</label>
                        <input formControlName="visit" type="text" class="form-control" id="mobile">
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Image</label>
                        <input formControlName="image" type="file" (change)="onChange($event)" class="form-control" />
                    </div>
  
  
  
                </form>
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button (click)="postDoctorDetails()" *ngIf="showAdd" type="button" class="btn btn-primary">Save
                    Doctor</button>
                <button (click)="updateDoctorDetails()" *ngIf="showUpdate" type="button"
                    class="btn btn-primary">Update Doctor</button>
            </div>
        </div>
    </div>
  </div>
  
  <!-- <input type="file" (change)="onChange($event)" /> -->
  
  <!-- <div *ngIf="myimage">
  <img [src]="myimage" width="200px" height="200px" alt="" />
  <textarea rows="30" cols="60" [(ngModel)]="base64code"></textarea>
  </div> -->